:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0;
  background-color: var(--accent-bg-color);

  p {
    margin: 0;
  }
}

.flight-info,
.ticket {
  padding: 1.5rem 3rem;
}

.flight-info {
  flex-grow: 1;
  border-right: 2px dashed var(--auxiliary-color);
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.departure, 
.destination {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date,
.utc,
.city,
.flight-number .label {
  color: var(--auxiliary-color);
}

.time {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.time-data {
  font-size: 3rem;
  font-weight: bold;
}

.city {
  font-size: 1.2rem;
}

.utc {
  font-size: 1rem;
}

.flight-duration {
  flex-grow: 1;
}

.flight-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10rem;
  background: linear-gradient(0deg, transparent 0 40%, #D0D9DF 40% 50%, transparent 50% 100%);
}

.flight-icon {
  background-color: var(--accent-bg-color);
  width: min-content;
  padding: 0 .5rem;
}
