<div class="title-content">
  <span class="summary-logo"></span>
  <span class="summary-title title">Summary</span>
</div>

<div class="summary-container">
  <app-summary-flight  *ngFor="let flight of sortedFlights; trackBy: trackByFn" [flight]="flight"></app-summary-flight>
  <app-cost-passengers></app-cost-passengers>
</div>


<div class="btns-container">
  <button class="ghost-btn" (click)="navToPassengers()">Back</button>
  <button class="ghost-btn ghost-btn__bordered" (click)="createUserBooking()">Add to order cart</button>
  <button class="primary-btn">Buy now</button>
</div>
