p {
  margin: 0;
}

.container {
  padding: 3rem 0;
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutral-color);
}

.booking-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.number-container {
  width: 10rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.flight-number-container {
  width: 28rem;
}

.way {
  width: 10rem;
}

.time-cintainer {
  width: 25rem;
}

.passengers-container {
  width: 11rem;
}

.cost {
  color: var(--highlight-color);
}

.more-btn {
  padding: 0;
}

.menu-item {
  border-bottom: 1px solid var(--neutral-color);
}
