<mat-form-field appearance="fill" >
  <mat-label>Dates</mat-label>
  <mat-date-range-input [formGroup]="datesForm" [rangePicker]="picker">
    <input matStartDate [formControl]="datesForm.controls.departureDate" placeholder="Start date">
    <input matEndDate [formControl]="datesForm.controls.destinationDate" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker color="primary"></mat-date-range-picker>
</mat-form-field>
