:host {
  display: block;
  margin-bottom: 2rem;
}

.search-panel {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 4rem;
  padding: 1rem;
  box-shadow: var(--bottom-shadow);
}

.search-panel_info {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  padding: 1rem;
  user-select: none;
}

.cities,
.dates-n-passengers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.dates-n-passengers {
  color: var(--auxiliary-color);
  & .dotted {
    display: flex;
    align-items: center;
    gap: 1rem;
    &::after {
      content: '';
      display: inline-block;
      width: .5rem;
      height: .5rem;
      border-radius: 100%;
      background-color:var(--secondary-color);
    }
  }
}

.toggle-btn {
  padding: 0;
}

.settings-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  background-color: var(--accent-bg-color);
  padding: 2rem 2rem 0rem 2rem;;
  align-items: stretch;
}

@media screen and (max-width: 600px) {
  .search-panel {
    align-items: flex-start;
  }
  .search-panel_info {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .dates-n-passengers {
    order: 1;
    flex-shrink: 0;
    min-width: 100%;
  }
}

::ng-deep .mat-form-field-underline,
::ng-deep matformfieldlineripple,
::ng-deep .mdc-line-ripple {
  display: none;
}

:disabled {
  color: var(--disabled-color);
}

.validation {
  background-color: var(--accent-bg-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: .5rem;
}

.error-message {
  margin: 0;
}
