<section class="search-results-section" *ngIf="this.bookingInfo$ | async as bookingInfo">
  <div class="search-results" *ngIf="forwardFlights$ | async as flights"> 
    <h2 class="title search-results">
      <img src="./assets/forward-flight-icon.svg" alt="" />
      {{ bookingInfo.departureAirport | airportToCity}} to {{ bookingInfo.destinationAirport | airportToCity}}
    </h2>
    <app-date-slider></app-date-slider>
    <div class="flights" *ngIf="selectedFlights.length; else flightsSearch">
      <app-search-item [flight]="selectedFlights[0]" [selected]="true"></app-search-item>
    </div>
    <ng-template #flightsSearch>
      <div class="flights" *ngIf="flights.length; else noForwardFlights">
        <app-search-item *ngFor="let flight of flights" [flight]="flight"></app-search-item>
      </div>
      <ng-template #noForwardFlights>
        <h2 class="no-flights-message">
          No flights from {{ bookingInfo.departureAirport | airportToCity }} to {{ bookingInfo.destinationAirport | airportToCity }} on this dates.
        </h2>
      </ng-template>
    </ng-template>
  </div>

  <div *ngIf="bookingInfo.roundTrip">
    <div class="search-results" *ngIf="returnFlights$ | async as returnFlights">
      <h2 class="title search-results">
        <img src="./assets/return-flight-icon.svg" alt="" />
        {{ bookingInfo.destinationAirport | airportToCity}} to {{ bookingInfo.departureAirport | airportToCity}}
      </h2>
      <app-date-slider></app-date-slider>

      <div class="flights" *ngIf="selectedFlights.length > 1; else returnFlightsSearch">
        <app-search-item [flight]="selectedFlights[1]" [selected]="true"></app-search-item>
      </div>

      <ng-template #returnFlightsSearch>
        <div class="flights" *ngIf="returnFlights.length; else noReturnFlights">
          <app-search-item *ngFor="let flight of returnFlights" [flight]="flight"></app-search-item>
        </div>
        <ng-template #noReturnFlights>
          <h2 class="no-flights-message">
            No flights from {{ bookingInfo.destinationAirport | airportToCity }} to {{ bookingInfo.departureAirport | airportToCity }} on this dates.
          </h2>
        </ng-template>
      </ng-template>
    </div>
  </div>
</section>

<div class="navigation-btns">
  <button class="btn ghost-btn" (click)="navigateToMain()">Back</button>
  <button class="btn primary-btn" [disabled]="!isAllFlightsSelected()" (click)="navigateToPassengers()">Continue</button>
</div>