<app-header></app-header>
<main>
  <div style="display: flex; flex-direction: column; gap: 10px;">
    <h1>Kit samples</h1>
    <h2 class="title">Title .title</h2>
    <a>tag a or element with class="link"</a>
    <div style="display: flex; gap: 15px;">
      <button class="primary-btn">button class="primary-btn"</button>
      <button class="secondary-btn">button class="secondary-btn"</button>
      <button class="ghost-btn">button class="ghost-btn"</button>
      <button class="highlight-btn">button class="highlight-btn"</button>
    </div>
    <span class="error">error message example</span>
    <button disabled="true">disabled element</button>
  </div>

  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>


