<div class="footer" >
  <footer class="wrapper wrapper-footer">
    <div class="git-container">
      <a class="git-link" href="https://github.com/vladimirm89" target="_blank">
        <span class="github"></span>
        <span class="git-text">Milashevsky Vladimir</span>
      </a>
      <a class="git-link" href="https://github.com/ponomareva-nina" target="_blank">
        <span class="github"></span>
        <span class="git-text">Nina Ponomareva</span>
      </a>
    </div>
    <div class="info">
      <p class="rights">© 2023, AIRWAY. All rights reserved.</p>
      <div class="payment-container">
        <p class="payment-text">We accept these payment methods</p>
        <p class="payment-system">
          <span class="mastercard icon"></span>
          <span class="amason icon"></span>
          <span class="american icon"></span>
          <span class="visa icon"></span>
        </p>
      </div>
    </div>
  </footer>
</div>
