p {
  margin: 0;
}

.container {
  padding: 2.4rem 4rem;
}

.summary-cost-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.cost-passenger {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  font-size: 1.6rem;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.description-title {
  font-weight: 700;
}

.details {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cost-container {
  text-align: end;
}
