<form [formGroup]="formDate" class="form-container">
  <button class="select-btn">
    <mat-select [formControl]="dateControl" name="date">
      <mat-option *ngFor="let dateFormat of dateFormats" [value]="dateFormat.value">
        {{dateFormat.viewValue}}
      </mat-option>
    </mat-select>
  </button>

  <button class="select-btn select-btn__small">
    <mat-select [formControl]="currencyControl" name="currency">
      <mat-option *ngFor="let currencyFormat of currencyFormats" [value]="currencyFormat.value"
      class="option">
        {{currencyFormat.viewValue}}
      </mat-option>
    </mat-select>
  </button>
</form>
