.cart-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media screen and (max-width: 560px) {
    padding: 2rem 1rem;
 }
}

.paid-title {
  text-align: center;
}

.btn-container {
  align-self: flex-end;
}
