p {
  margin: 0;
}

.header-container {
  padding: 2rem 3.5rem;
  display: flex;
  gap: 2.5rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--title-table-color);
}

.header-content-container {
  display: flex;
  padding-right: 6.5rem;
  flex-grow: 1;
  justify-content: space-between;
}

.number-container {
  width: 10rem;
}

.flight-number-container {
  width: 25rem;
}

.way {
  width: 10rem;
}

.time-cintainer {
  width: 25rem;
}

.passengers-container {
  width: 11rem;
}

.no-bookings-text {
  padding: 0 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.bookings-container {
  padding: 0 3.5rem;
}


.bottom-line {
  border-bottom: 1px solid var(--neutral-color);
}

.bottom-container {
  padding: 4rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn-text {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--bg-neutral);
  color: var(--primary-color);
}

.position-center {
  justify-content: center;
}

.total-container {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-weight: 700;
}

.total-title {
  font-size: 2rem;
}

.total-cost {
  height: 3rem;
  display: inline-flex;
  align-items: center;
  font-size: 3rem;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.apply-container {
  padding: 4rem 3.5rem 0;
  display: flex;
  justify-content: space-between;
}

.promo-container {
  width: 31rem;
  padding: 0.4rem 1.6rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--auxiliary-color-opacity02);
  border-radius: 0.5rem;
}

.promo-apply {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary-color);
}

.without-padding {
  padding: 0;
}

.selected-container {
  display: flex;
  align-items: center;
  gap: 3.8rem;
}

.select-content {
  display: flex;
  gap: 1rem;
  color: var(--auxiliary-color);
}

.popup {
  width: 32rem;
  padding: 2rem;
  display: none;
  flex-direction: column;
  gap: 5rem;
  align-items: flex-end;
  font-size: 1.8rem;
  position: absolute;
  top: 10vh;
  left: calc(50% - 16rem);
}

.approve-text {
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 3rem;
}

.pisioned-right {
  width: 11rem;
}

.visible {
  display: flex;
  z-index: 20;
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--auxiliary-color-opacity02);
}

