<ng-container *ngIf="userBookings$ | async as userBookings">
  <div class="row-container t-head" *ngIf="userBookings.length">
    <mat-checkbox color="primary"
      *ngIf="isCartPage"
      [checked]="isAllChecked"
      (click)="isAllBookingsSelected(userBookings)">
    </mat-checkbox>
    <div class="table-row">
      <p class="number-container">No.</p>
      <p class="flight-name-container">{{isSmallScreen ? 'Flight information' : "Destination" }}</p>
      <p class="way">Type</p>
      <p class="time-container">Date & Time</p>
      <p class="passengers-container">Passengers</p>
      <p class="cost">Price</p>
    </div>
    <mat-icon class="hidden">more_vert</mat-icon>
  </div>

  <p class="no-bookings-text"
    *ngIf="!userBookings.length">
    No bookings to pay. Please add new trip
  </p>

  <app-booking-item *ngFor="let booking of userBookings"
    [booking]="booking" class="bottom-line">
  </app-booking-item>

  <div class="bottom-container bottom-line"
    [ngClass]="{'position-center': !userBookings.length}">
      <button class="add-btn" (click)="navToMain()" *ngIf="isCartPage">
        <span class="add-btn-text" >+ Add new trip</span>
      </button>
      <div class="total-container" *ngIf="userBookings.length">
        <h2 class="title">Total</h2>
        <h3 class="total-cost">{{summary(userBookings) | currency: 'EUR'}}</h3>
      </div>
  </div>
</ng-container>




