p {
  margin: 0;
}

.header-container {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.bottom-line {
  border-bottom: 1px solid var(--neutral-color);
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apply-container {
  display: flex;
  justify-content: space-between;
}

.promo-container {
  width: 31rem;
  padding: 0.4rem 1.6rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--auxiliary-color-opacity02);
  border-radius: 0.5rem;
}

.without-padding {
  padding: 0;
}

.selected-container {
  display: flex;
  align-items: center;
  gap: 3.8rem;
}
