* {
  box-sizing: border-box;
}

html,
body,
div,
p,
ul,
ol,
li,
a,
form,
button,
input {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

button,
input,
label {
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: var(--bg-main);
}
