@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@mixin font-main($size: 1.6rem, $line-height: 2.4rem, $font-weight: 400) {
  font-family: 'Roboto', sans-serif;
  font-weight: $font-weight;
  font-size: $size;
  line-height: $line-height;
  color: var(--main-color);
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--base-size);
}

html,
body,
div,
p,
ul,
ol,
li,
a,
form,
button,
input {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-color);

  &:hover {
    cursor: pointer;
  }
}

input,
label {
  border: none;
  outline: none;
  transition: all .3s;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}

label {
  color: var(--auxiliary-color);
}

body {
  @include font-main();
  background-color: var(--bg-main-color);
  
  @media screen and (max-width: 700px) {
    @include font-main(1.4rem, 1.6rem);
  }
}

h1,
h2,
h3,
.mat-typography h1,
.mat-typography h2,
.mat-typography h3 {
  @include font-main($size: 2.2rem, $line-height: 2.4rem, $font-weight: 600);
  margin: 0;

  @media screen and (max-width: 700px) {
    @include font-main(2rem, 2.3rem, 600);
  }
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  @include font-main();
  transition: all .3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2rem;
  border-radius: .5rem;

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 700px) {
    padding: 1rem 1.5rem;
  }
}

:disabled {
  pointer-events: none;
}

.mat-typography p {
  padding: 0;
  margin: 0;
}

.mat-typography,
.mat-mdc-select,
.mat-mdc-form-field {
  @include font-main();

  @media screen and (max-width: 700px) {
    @include font-main($size: 1.4rem, $line-height: 2rem);
  }
}

.font-main {
  @include font-main();
  
  @media screen and (max-width: 700px) {
    @include font-main(1.4rem, 1.6rem);
  }
}

.font_small {
  font-size: 1.2rem;
}

.font-large {
  font-size: 2.2rem;
}

@media screen and (max-width: 700px) {  
  .font-large {
    font-size: 1.8rem;
  }
}