<div [ngClass]="{'overlay': isPopupActive}" (click)="togglePopup()"></div>

<button class="select-btn select-btn__medium" (click)="togglePopup()">
  <span class="logo"></span>
  <span class="user-state-title" *ngIf="isUserLogin; else userLogout">Sign out</span>
  <ng-template #userLogout>
    <span class="user-state-title">Sign in</span>
  </ng-template>
</button>

<div class="auth-popup" [ngClass]="{'active': isPopupActive}">
  <div class="popup-container">

    <div class="btns-container">
      <button
        class="sign-btn"
        (click)="toggleAuthForms()"
        [ngClass]="{'selected-form': isLoginInSelect}"
      >
        Login in
      </button>
      <button
        class="sign-btn"
        (click)="toggleAuthForms()"
        [ngClass]="{'selected-form': !isLoginInSelect}"
      >
        Sign up
      </button>
    </div>

    <app-social-media-form></app-social-media-form>

    <div class="separator-container">
      <span class="separator-line"></span>
      <span class="separator">or log in with your email</span>
      <span class="separator-line"></span>
    </div>

    <div *ngIf="isLoginInSelect; else signUpForm">
      <app-login-form></app-login-form>
    </div>
    <ng-template #signUpForm>
      <app-register-form></app-register-form>
    </ng-template>

  </div>
  <div class="close" (click)="togglePopup()"></div>
</div>


