<div class="passengers-select" [formGroup]="passengersForm">
  <div class="selected-option">
    <span [ngClass]="{'passengers-select__label': true, 'label_active': isSelectOpened}">Passengers</span>
    <div class="select" (click)="toggleSelect($event)">
      <p class="select-text">{{adultsNumber}} Adults, {{childrenNumber}} Children, {{infantsNumber}} Infants </p>
      <button [ngClass]="{ 'arrow-btn': true, 'arrow-btn_active': isSelectOpened }">
        <mat-icon aria-hidden="false" aria-label="open options" fontIcon="arrow_drop_down"></mat-icon>
      </button>
    </div>
  </div>
  <ul [ngClass]="{ 'options': true, 'options_opened': isSelectOpened }">
      <li class="option" *ngFor="let pas of passengersArr">
        <div class="passenger-category">
          <span>{{pas.category}}</span>
          <span class="description">{{pas.description}}</span>
        </div>
        <div class="counter">
          <button
            class="counter-btn"
            (click)="decrement(pas.control)"
            [disabled]="isDecrementDisabled(pas.control)" 
          >
            <mat-icon>remove</mat-icon>
          </button>
          <input class="number-input" type="number" [formControlName]="pas.controlName" min="0" max="9" readonly/>
          <button
            class="counter-btn"
            (click)="increment(pas.control)"
            [disabled]="isIncrementDisabled(pas.control)"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>  
      </li>
    </ul>
  </div>
